*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../images-portfolio/Background\ image.jpg);
}

#headerContainer{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;


}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    position: relative;
    color:#e91e6f;
    margin-left: 4vh;
    /* right: 16vw; */
}
#emptyContainer1{
    width: 13.5%;
}

#imgLogo{
    border: 0.02rem rgb(0, 0, 0) solid;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    
}

#textLogo{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.5rem;
}

#mainContainer{
    display: flex;
}

#infoContainer{
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infoContainer h2{
    font-family: 'Annie Use Your Telescope', cursive;
    color: #ea1c6e;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 3vh;
}

#infoContainer p{
    color: white;
    text-align: center;
    margin-bottom: 2vh;
}
.containerBackground{
    background-color: #1D457D;
    border: white solid;
    border-radius: 10vh;
    width: 70%;
    padding: 4vh 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#projectPreview{
    width: 60vw;
}
#projectPreview{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;

}

#projectPreview img{
    width: 100%;
}